* {
  box-sizing: border-box;
  margin: 0;
}

header {
  padding: 30px 30px 30px 0;
  background: #bfdcf2;
  color: black;
  text-align: right;
}

header h1 {
  display: inline;
  margin-left: 15px;
  font-weight: 300;
}

.image {
  width: 50px;
  height: 50px;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 50px;
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

input:focus {
  border-color: #bfdcf2;
  outline: none;

}

button {
  background: #bfdcf2;
  border: none;
  font-size: 40px;
  border-radius: 50px;
  cursor: pointer;
}

button:focus {
  background: #899ead;
  border: none;
  outline: none;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-container {
  width: 260px;
  margin: 60px;
  border: 3px solid #828282;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  height: 550px;
}

.cover {
  width: 100%;
  height: 60%;
}

h2 {
  font-size: 18px;
  padding-top: 10px;
  padding-left: 10px;
}

h3 {
  font-size: 18px;
  padding-top: 10px;
  font-weight: normal;
  padding-left: 10px;
}

p {
  font-size: 18px;
  padding-top: 10px;
  padding-left: 10px;
}

a {
  text-decoration: none;
}

select {
  font-size: 20px;
  margin-top: 10px;
  outline: none;
  background: #bfdcf2;
  cursor: pointer;
  border-radius: 25px;

}
